<div class="container-fuid">
  <div><h2 style="text-align:center"; abbr title="fan of hiking, kayaking & coding">Sam Skinner, PhD | Portfolio</abbr></h2>
  </div>
  <div style='width: 85px; margin: auto'>
    <a href="https://github.com/freedomevolves"><%= image_tag("github.png", height: "20", width: "20", title:"GitHub")%></a>
    <a href="http://www.linkedin.com/in/samskinnerphd"><%= image_tag("linkedin.jpeg", height:"20", width:"21", title:"LinkedIn") %></a>
  </div>
  <br><br> <br> <br> <br><br>
  <div>
    <a href= "http://tts-job-board.herokuapp.com"><%= image_tag("tts-logo.png", height:'200', width:'200', :class=>"img-rounded img-border") %></a>
    <%= link_to(image_tag('kayak.jpg', height:'200', width:'200', :class=>"img-rounded img-border"), imagination_path) %>
    <%= link_to(image_tag('nasonia.jpg', height:'200', width:'200', :class=>"img-rounded img-border", title:"female Nasonia laying eggs"), resume_path) %>    
  </div>
</div>
<br>


