<div class="container-fuid">
  <div><h2 style="text-align:center"; abbr title="fan of hiking, kayaking & coding">Sam Skinner, PhD | Portfolio</abbr></h2>
  </div>
  <div style='width: 95px; margin: auto'>
    <a href="https://github.com/freedomevolves"><%= image_tag("github.png", height:"30", width:"35", title:"GitHub")%></a>&nbsp;&nbsp;
    <a href="http://www.linkedin.com/in/samskinnerphd"><%= image_tag("linkedin.jpeg", height:"30", width:"32", title:"LinkedIn") %></a>
  </div>
  <br><br> <br> <br> <br><br>
  <div style='width: 700px; margin: auto'>
    <a href= "http://tts-job-board.herokuapp.com"><%= image_tag("tts-logo.png", height:'200', width:'200', :class=>"img-rounded img-border", title:"A jobs board I created for TTS.") %></a>
    <%= link_to(image_tag('kayak.jpg', height:'200', width:'200', :class=>"img-rounded img-border", title:"A kayaking store. Currently,'just my imagination' but that soon will change."), imagination_path) %>
    <%= link_to(image_tag('nasonia.jpg', height:'200', width:'200', :class=>"img-rounded img-border", title:"Female Nasonia decide the sex of their offspring as they lay their eggs.  My research focused on understanding the evolutionary, ecological, behavioral and genetic underpinnings of this behavior."), resume_path) %>    
  </div>
</div>
<br>


