<h1>Contact Me!</h1>
<%=form_tag("/contact/save") do%>
  First Name: <%=text_field_tag :first_name%><br><br>
  Last Name: <%=text_field_tag :last_name%><br><br>
  Email: <%=text_field_tag :email%> 
  <br>
  <br>
  <%=submit_tag "Submit"%>   
<%end%>

